<div class="d-flex w-100 h-100 mt-5 justify-content-center align-self-center">
  <div class="card" style="width: 28rem;">
    <div class="card-body">
      <h5 class="card-title">Błąd 404</h5>
      <h6 class="card-subtitle mb-4 text-muted">Nie odnaleziono takiej strony.</h6>
      <p>Sprawdź, czy adres strony jest poprawny. Jeśli to nie pomoże, wróć na <a href="/">stronę główną</a> lub
        skontaktuj się z administratorami.</p>
    </div>
  </div>
</div>
