<div class="d-flex w-100 h-100 mt-5 justify-content-center align-self-center">
  <div class="card" style="width: 28rem;">
    <div class="card-body">
      <h5 class="card-title">Błąd 500</h5>
      <h6 class="card-subtitle mb-4 text-muted">Wystąpił wewnętrzny błąd po stronie serwera.</h6>
      <p>Spróbuj odświeżyć stronę. Jeśli to nie pomoże, skontaktuj się z administratorami.</p>
    </div>
  </div>
</div>
