<div class="d-flex w-100 h-100 justify-content-center align-self-center">
  <div class="card" style="width: 60%;">
    <div class="card-body">
      <h5 class="card-title">Na skróty</h5>
      <h6 class="card-subtitle mb-4 text-muted">Wszystkie narzędzia, z których będziesz najczęściej korzystać. Pod ręką.</h6>
      <h6>Sklepy serwerowe</h6>
      <ul class="list-unstyled">
        <li><a href="/shops"><i class="fas fa-arrow-right"></i> Przeglądaj listy sklepów</a></li>
        <li><a href="/shops/addList"><i class="fas fa-arrow-right"></i> Utwórz listę sklepów</a></li>
      </ul>
      <h6>Zadania</h6>
      <ul class="list-unstyled">
        <li><a href="/quests"><i class="fas fa-arrow-right"></i> Przeglądaj listy zadań</a></li>
        <li><a href="/quests/addList"><i class="fas fa-arrow-right"></i> Utwórz listę zadań</a></li>
      </ul>
      <h6>Konto</h6>
      <ul class="list-unstyled">
        <li><a href="/changePassword"><i class="fas fa-arrow-right"></i> Zmień hasło</a></li>
        <li><a href="/logout"><i class="fas fa-arrow-right"></i> Wyloguj się</a></li>
      </ul>
    </div>
    <div class="card-footer bg-primary text-center text-muted">
      Copyright &copy; 2018 Meehoweq
    </div>
  </div>
</div>
